html, body {
    height: 100%;
}

body {
    background: url(../images/interlaced.png);
    display: flex;
    flex-direction: column;
}

a:link {
    text-decoration:none;
    color:#777777;
}

a:visited {
    text-decoration:none;
    color:#777777;
}

.pictures1 {
    margin-bottom: 10px;
}

.pictures1 {
    border: solid 1px #dddddd;
    width: 270px;
    height: 170px;
    padding: 0px;
    margin-top: 10px;
    margin-right: 35px;
}



.jumbotron {
    background: none;
}
.container {
    width: 898px;
    background:#ffffff;
    margin: 0 auto;
    position: relative;
    top: 40px;
    padding: 0 30px 0px 30px;
    border: 1px solid #dddddd;
    min-height: 400px;
}

.header {
    background-color: #ffffff;
    width:100%;
    height: 70px;
    margin: 0 auto;
    border-bottom: 1px solid #cccccc;
}

.rightheader {
    width: 960px;
    margin: 0 auto;
    text-align: right;
    position: relative;
    top:-40px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc;
}

.textPadding {
    padding: 20px;
}

#portfolio {
    position: relative;
    left: -5px;
    padding: 10px;
}

#about {
    position: relative;
    left: -10px;
}

#contact {
    position: relative;
    padding: 10px;
}

.myname {
    font-size: 24px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    background: rgb(81, 118, 185);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -11px;
    margin-top: -11px;
    height: 56px;
}

.navbar {
    border-bottom: solid 1px rgb(88, 88, 88);
}

.aboutme {
    color:rgb(81, 118, 185);
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    padding: 20px 0 25px 0;
    border-bottom: 2px solid rgb(209, 209, 209);
}

.portLinks {
    font-size: 16px;
    font-weight: 600;
}

.underTitle {
    color:rgb(81, 118, 185);
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
}

#myinfo {
    line-height: 35px;
    padding: 10px 0 15px 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:rgb(81, 118, 185);
}

#stickyfooterbase {
    text-align:center;
    color:transparent;
    flex: 1 0 auto;

}

.footer {
    text-align: center;
    background: #666666;
    flex-shrink: 0;
    border-top: 8px solid rgb(81, 118, 185);
    color: rgb(190, 190, 190);
    padding:40px 0 10px 0;
    font-size: 15px;
}

img {
    width: 300px;
    height: 200px;
    padding: 25px 30px 20px 0
}

.photome {
    float: left;
}

.picturewords {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    background-color:rgb(81, 118, 185);
    color: white;
    text-align: center;
    width: 300px;
    padding:15px 0 15px 0;
    margin: 0 auto;
    z-index: 1;
}

.nameColor {
    color: rgb(81, 118, 185);
}

#positioned {
    position: static;
    width: 960;
}

#hangman {
    position: relative;
    top: -550px;
    left: -299px
}

#rpggame {
    position: relative;
    top: -605px;
    left: 35px;
}

#triviagame {
    position: relative;
    top: -415px;
    left: -299px;

}

#rutgersinfowidget {
    position: relative;
    top: -470px;
    left: 35px;
}

#rockpaperscissors {
    position: relative;
    top: -280px;
    left: -299px;
}

#contactinfotitle {
    color:rgb(81, 118, 185);;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    padding: 10px 0 10px 0;
}

#contactinfo {
    color:#777777;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
    padding: 10px 0 20px 0;
    border-bottom: 2px solid rgb(209, 209, 209);
    line-height: 30px;
}

#myres {
    color:rgb(81, 118, 185);
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    padding: 20px 0 25px 0;
}
